.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--margin-large);
  margin-bottom: var(--margin-large);
  gap: 16px;
}

@media screen and (max-width: 769px) {
  .project {
    padding: var(--padding-medium);
  }
}
